html {
    box-sizing: border-box;
}
*, *::before, *:after {
    box-sizing: inherit;
}
body {
    background-image: url(imgs/33881-palmeras.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    height: 70px;
    margin: 22px 4px;
}
.container {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    display: flex;
    margin: 4px;
    padding: 30px;
    border-radius: 10px;
}
.firstArticle {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    max-width: 600px; /* Limitando el ancho máximo para mejor visualización */
    margin-right: 20px; /* Reduciendo el margen derecho */
    padding: 20px;
    color: aliceblue;
    font-size: 20px;
    box-shadow: 5px 5px 10px #000;
    font-family: 'Merriweather', serif;
    font-family: 'Oswald', sans-serif;
}
.secondArticle {
    display: flex;
    width: 55%;
    flex-direction: column;
    /* flex-grow: 1; Permitir crecimiento del segundo artículo */
}
.divs-img {
    margin-top: 10px;
    border: 5px solid rgb(7, 7, 7);
    border-radius: 5px;
    box-shadow: 5px 5px 10px #000;
    /* overflow: hidden; Evitar desbordamiento de las imágenes */
}
.images {
    width: 100%;
    height: auto; /* Permitir que las imágenes mantengan su relación de aspecto */
}
.end {
    background-color: aliceblue;
    display: flex;
    flex-direction: column; /* Cambiar a columna para dispositivos móviles */
    align-items: center; /* Centrar elementos */
}
.container-icons {
    background-color: aqua;
}
.icons-end {
    color: #000;
    display: flex;
    flex-direction: row;
    list-style: none; /* Quitar viñetas de la lista */
    padding: 0; /* Eliminar el relleno predeterminado de la lista */
}
@media (max-width: 780px) {
    .container {
        flex-direction: column;
        align-items: center; /* Centrar elementos en dispositivos móviles */
    }
    .firstArticle,
    .secondArticle {
        width: 100%;
        margin-right: 0; /* Eliminar margen derecho en dispositivos móviles */
    }
    .divs-img {
        margin-top: 20px;
    }
}
